nav{
    background-image: url(../img/pattern.png);
    background-color: cornflowerblue;

}


.logo{
    height: 180px;
    width: auto;
}


.grigie{    
    color: gray;    
}


#azzurre{
    color: aquamarine;
}


.yellow{
    background-color: yellow;
}


.tabella{
   border-collapse: collapse;
}


.parti{
    background-color: cornflowerblue;
    color: white; 
}


.rows{
    background-color: aquamarine;
}

th, td {
    width:140px;
    text-align:left;
    padding:4px
}


.container {
    position: relative;
    text-align: left;
    color: white;
}


.top-left {
    position: absolute;
    top: 0;
    left: 8px;
  }