body{
    margin: 0;
}

.header-image{
    background-color: cornflowerblue;
    height: 100px;
    padding-right: 100%; 
}

.logo{
    height: 50px;
    position: absolute;
    top: 40px;
    left: 12px;
}


.grigie{    
    color: gray;    
}

#azzurre{
    color: aquamarine;
}


.yellow{
    background-color: yellow;
}




.tabella{
   border-collapse: collapse;
    
    
}


.parti{
    background-color: cornflowerblue;
    color: white;
    
}

.rows{
    background-color: aquamarine;
    
}

th, td {
    width:140px;
    text-align:left;
    padding:4px
}

.container {
    position: relative;
    text-align: left;
    color: white;
}
.top-left {
    position: absolute;
    top: 0;
    left: 8px;
  }